/*Css Document*/
.font-normal,
.font-normal em,
.font-normal i {
  font-style: normal !important;
}

ul,
ol {
  list-style: none;
}

/* brand colors */
.brandv-yellow, .brandv-yellow a, .brandv-yellow span{
  color: #F5B203 !important;
}
.brandv-green, .brandv-green a, .brandv-green span{
  color: #4D9E0D !important;
}
.brandv-yellowfade, .brandv-yellowfade a, .brandv-yellowfade span{
  color: rgba(255, 230, 187, 0.699) !important;
}
.brandv-purple, .brandv-purple a, .brandv-purple span{
  color: #000248 !important;
}
.brandv-purpledark, .brandv-purpledark a, .brandv-purpledark span{
  color: #04005D !important;
}
.brands-purpledark, .brands-purpledark a, .brands-purpledark span{
  color: #0E205D !important;
}
.brandv-purplelight, .brandv-purplelight a, .brandv-purplelight span{
  color: #1A2B6B !important;
}
.brandv-bluelight, .brandv-bluelight a, .brandv-bluelight span{
  color: #375BD2 !important;
}
.brandv-black, .brandv-black a, .brandv-black span {
  color: #0E0E10 !important;
}
.brandv-blackblue, .brandv-blackblue a, .brandv-blackblue span {
  color: #0C162C !important;
}
.brandv-cyan, .brandv-cyan a, .brandv-cyan span{
  color: #0AC1EA !important;
}
.brandv-cyandark, .brandv-cyandark a, .brandv-cyandark span{
  color: #02A5D9 !important;
}
.brandv-cyanlight, .brandv-cyanlight a, .brandv-cyanlight span{
  color: #E1FAFF !important;
}
.brandv-neutral, .brandv-neutral a, .brandv-neutral span{
  color: #10227C !important;
}
.brandss-dark, .brandss-dark a{
  color: #0C2048 !important;
}

.bg-brandss-dark{
  background-color: #0C2048 !important;
}

.bg-yellowfade {
  background-color: #B6E085 !important;
}
.bg-blue{
  background-color: #5905dd !important;
}
.bg-pancake{
  background-color: #0aead9 !important;
}
.bg-darkpurple{
  background-color: #1303a6 !important;
}
.bg-red{
  background-color: #ea0a50 !important;
}
.bg-cyan{
  background-color: #30a8f9 !important;
}
.bg-brandv-yellow{
  background-color: #F9AB21 !important;
}
.bg-brandv-yellowfade{
  background-color: rgba(255,230,187,0.63) !important;
}
.bg-brandv-purple{
  background-color: #480295 !important;
}
.bg-brandv-purpledark{
  background-color: #04005D !important;
}
.bg-brandv-black{
  background-color: #0E0E10 !important;
}
.bg-brandv-blackblue{
  background-color: #0C2048 !important;
}
.bg-brandv-cyan{
  background-color: #0AC1EA !important;
}
.bg-brandv-cyandark{
  background-color: #02A5D9 !important;
}
.bg-brandv-cyanlight{
  background-color: #E1FAFF !important;
}
.bg-brandv-neutral{
  background-color: #99A1A6 !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.form input,
form input,
.form select,
form select,
.form textarea,
form textarea {
  border-radius: 5px !important;
}

.hero-content-slider {
  background: transparent !important;
  border: none;
  height: 500px;
  /*display: flex;*/
  /*align-items: center;*/
  position: relative;
  top: 8.5rem;
}

.header.header-sticky{
  position: fixed;
  width: 100%;
  top:-90px;
  left: 0;
  right: 0;
}

.main-nav .nav .nav-item .btn-signup {
  top: 18%;
  padding: 6px 18px;
}

.header .logo img {
  width: 160px;
  position: relative;
  top:-1px;
}

.btn{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.big-btn {
  padding: 0.65rem 2rem;
  border-radius: 5px;
  font-size: 16px;
  min-width: 240px;
}
.big-btn.hero-start {
  padding: 1rem 2rem;
}
.mid-btn {
  padding: 0.45rem 2.3rem;
  border-radius: 4px;
  font-size: 18px;
}
.btn-sm {
  padding: 0.8rem 2.5rem;
  border-radius: 3px;
  font-size: 14px;
}
.btn-mini {
  padding: 0.15rem 1rem;
  border-radius: 3px;
  font-size: 14px;
}
.btn.ghost{
  background-color: transparent;
}

.btn.ghost.nexus-blue{
  color: #1f023f;
  border: 1px solid #3a0374;
}
.btn.ghost.nexus-bluelight{
  color: #1f023f;
  border: 1px solid #375BD2;
}

.btn.ghost.cord-white:hover{
  color: #FF6725;
  background-color: #fff;
}

/* loader */
.loading-box{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(4, 3, 68, 1);
}
.loading-box .loader--bx{
  width: 200px;
  height: 200px;
  margin: 50% auto;
}
.loading-spinner img{
  width: 35px;
}

.hero{
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero.home-hero{  
  height: 100vh;
}

.hero-x{
  height: 100vh;
}
.hero-x.h-cct{
  height: auto !important;
}

.icon-caret img{
  width: 10px;
  margin-left: 0.2rem;
}

.icon-caret.rotate-right img{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

.title, .title span{
  font-family: 'gilroyregular';
  font-weight: 600 !important;
  font-size: 34px;
  line-height: 38px;
}

.title-body, .title-body span{
  font-size: 30px;
  line-height: 40px;
}

.title.title-large, .title.title-large span{
  font-size: 60px;
  line-height: 65px;
}

.title-intro{
  font-family: 'gilroybold';
  font-size: 20px;
  line-height: 19px;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  text-align: center;
}
.title-intro::after{
  content: '';
  position: absolute;
  bottom: -0.91rem;
  left: 0;
  width: 32%;
  height: 12px;
  background-color: #6E18CC;
  z-index: -1;
}


.token-heading{
  
  position: relative;
  z-index: 5;
  display: inline;
  line-height: 3rem;
  color: #0930B8;

}

.token-heading::after{
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 105%;
  height: 12px;
  background-color: #D1DAFB;
  z-index: -1;
}

.title-intro.yellow{
  color: #E3AA0D;
}
.title-intro.green{
  color: #4D9E0D;
}
.box-label-link{
  display: block;
  width: auto;
  margin-bottom: 1.3rem;
}
.box-label{
  display: flex;
  align-items: center;
  background-color: rgba(230, 230, 230);
  color: #000;
  padding:0.4rem 0.4rem;
  border-radius: 100px;
  max-width: 80%;
  min-width: 40%;
  font-family: 'helveticaneuemedium';
  font-size: 13px;
  line-height: 15px;
}
.box-label .label{
  text-align: center;
  padding: 0.3rem 0.45rem;
  border-radius: 100px;
  background-color: rgb(117, 117, 117);
  color: #fff;
  font-family: 'helveticaneuebold';
  font-size: 13px;
  line-height: 15px;
}
.box-label .content{
  text-align: left;
  color: rgb(90, 86, 86);
  font-size: 13px;
  line-height: 15px;
  margin-left: 0.6rem;
}
.box-label .icon{
  text-align: left;
  color: rgb(90, 86, 86);
  font-size: 13px;
  line-height: 15px;
  margin-left: 0.6rem;
  position: relative;
  top:1px;
}

.box-label.cyanlight{
  background-color: #E1FAFF !important;
}
.box-label.cyanlight .label{
  background-color: #0AC1EA !important;
  color: #fff;
}
.box-label.cyanlight .content{
  color: #02A5D9;
}
.box-label.cyanlight .icon span{
  color: #02A5D9;
}
.body-text{
  width: 100%;
  flex-wrap: wrap;
  word-wrap: inherit;
  font-size: 16px;
  line-height: 35px;
}
.zeus-text{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 40px;
  font-size: 16px;
  width: 150% !important;
  padding:  0.65rem 0.4rem;
  
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         3px 3px 5px 6px #fff;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
     height: 4x;
     stroke: #fff;
}
.body-text.hero-text{
  /* width: 115%; */
}
.body-text.text-large{
  font-size: 19px;
  line-height: 26px;
}

.sec--img{
  width: 100%;
  position: relative;
}
.sec--img img.main{
  width: 75%;
}
.sec--img img.main.m-hero{
  width: 68%;
}
.sec--img img.p-circle{
  position: absolute;
}

.lenders .sec--img img.p-circle{
  position: absolute;
  right: 3rem;
  top: 1rem;
}
.experience .sec--img img.p-circle{
  width: 180px;
  left: 5rem;
  bottom: 2rem;
}
.sec--img img.ly-circle{
  width: 400px;
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}
.sec--img img.la-circle{
  width: 200px;
  position: absolute;
  right: 5rem;
  top: 1.5rem;
}
.sec--img img.mobile{
  width: 350px;
  position: absolute;
  right: 0rem;
  bottom: -10rem;
  z-index: 2;
}

.ssn-heading{
  position: relative;
  z-index: 5;
  display: inline;
  line-height: 3rem;
  color: #E4FDD0;
}

.ssn-heading::after{
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 105%;
  height: 12px;
  background-color: #E4FDD0;
  z-index: -1;
}

.footer{
  padding: 0 !important;
}

.footer .logo{
  width: 200px;
  position: relative;
  top: -13px !important;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer .mrgr{
  margin-right: 40px !important;
}

.footer .brandv{
  color: #050079 !important;
}

footer ul a{
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* footer .logo img{
  font-size: 1000px !important;
} */

.link-underlined.default{
  color: #8397DB;
}

.link-underlined.default::after{
  background-color: #ddebff;
}

.link-underlined.hover:hover{
  position: relative;
  z-index: 100;
  color: #fff;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;

  -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}

.main-nav .navbar-collapse .orientation{
  width: 100%;
  display: flex;
  align-items: center;
}

.nexus {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nexus-blue {
  color: #375BD2 !important;
}
.bgnexus-blue {
  background-color: #375BD2 !important;
}
.nexus-bluelight {
  color: #375BD2 !important;
}
.nexus-bg-blue {
  background-color: #480295 !important;
}
.nexus-bg-bluelight {
  background-color: #375BD2 !important;
}

.nexus-bg-orange {
  background-color: #FFBD0F !important;
}

.nexus-orange {
  color: #FFBD0F !important;
}
.nexus-green {
  color: #3BB54A !important;
}
.nexus-purple{
  color: #6A16C7 !important;
}

.demo-btn {
  background-color:transparent;
  border: 1px solid #6A16C7;
}

.nexus-nav-font {
  font-size: 4px !important;
}

/* .nexus-btn {
  padding: 0.6rem 2.5rem;
  border-radius: 4px;
  font-size: 16px;
  min-width: 180px;
} */



.fs-large {
  /* font-size:  px !important; */
  line-height: 70px !important;
  font-weight: 300;
}

.box-icon {
  position: relative;
  width: 12px;
  top: -2px;
  margin-left: 0.6rem;
}
.box-icon span {
  margin-right: 0.35rem;
}

.super-nav {
  /* display: flex;
  margin-left: 5px; */
}

.token {
  margin-top: 0;
}

.ssn-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bep-20 {
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 40px;
}

.card-blue {
  background-color: #410187;
}
.z--box{
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #EBEEFF;
}
.z--box .z--ft .z--item{
  margin-bottom: 1rem;
    margin-right: 1.3rem;
}
.z--box .z--ft .z--item p{
  line-height: 3px;
}
.z--box .z--ft .z--item img{
  width: 35px;
}

.z--btn{
  display: flex;
  flex-direction: column;

}
.z--btn .zb{
  background-color: #f1f1f3;
  min-width: 50%;
  width: 60%;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  height: 60px;
  margin-bottom: 2rem;
  cursor: pointer;
}
.z--btn .zb.active{
  background-color: #f4f1fd;
}

.z--btn .zb .radio{
 display: inline-flex;
 align-items: center;
 justify-content: center;
 width: 30px;
 height: 30px;
 border-radius: 100px;
 background-color: #e4e0ea;
 margin-right: 1rem;
}
.z--btn .zb.active .radio{
  background-color: #E6D7FD;
 }
.z--btn .zb .radio .status{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #cec4d8;
 }
 .z--btn .zb.active .radio .status{
  background-color: #5F0DB9;
 }

.autolock--bx {
  background-color: #fff;
  margin-top: 1.8rem;
  padding: 1.8rem 1.5rem;
  border-radius: 10px;
  display: flex;
}

.autolock img {
  width: 80px !important;
  max-width: 80px !important;
}

.autolock h2 {
  line-height: 15px;
}

.earnpic-2 {
  top: -10px;
}

.out-circle {

  background-color: #f3f2fb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;

}

.tkn-img{
  margin-top: 1rem;
  width: 400px;
}

.in-circle {

  background-color: #6809EF;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  top: 9.5px;
  left: 9px;

}

.mark-icon img{
  position: relative;
  top: 9px;
  left: 15px;
}

.tkn--bx {
  padding: 2.5rem 3.5rem;
  border-radius: 10px;
}

.tkn--bx .toke-text h4 {
  padding-top: 12px;
  margin-left: .3em;
  font-size: 16px;
  color: #210742;
}

.t-supply {
  margin-left: .4rem;
  color: #210742;
  margin-bottom: 12px;
}

.t-raise {
  margin-left: .4rem;
  color: #210742;
}

.line {
  border-left: 0.5px solid rgb(166, 212, 228);
  height: 270px;
  opacity: 18%;
}

.toke-text span p {
  margin-top: .4em;
}
.road-it{
  padding: 1.6rem 1.5rem;
  background-color: #edf5fc;
  border-radius: 5px;

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.road-it.long{
  height: 135px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.road-it.purple{
  background-color: #ecf0fd;
  color: #375BD2;
}
.road-it.green{
  background-color: #e6fcd6;
  color: #4C0EAC;
}



.road-it .rd--it span{
  color: #375BD2;
}
.road-it .rd--it span.dot{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 19px;
  border-radius: 100px;
  background-color: #ccd7fd;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}

.road-it .rd--it span.dot span{
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  background-color: #375BD2;
}

.road-it .rd--it.third{
  display: none !important;
}

.road-it.long:hover{
  height: auto;
}
.road-it.long:hover .road-it .rd--it.third{
  display: block;
}

.row.last{
  margin-right: 2rem;
}

.rd-line{
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #375BD2;
  top: 38.5%;
  /* z-index: 100; */
}

.rd-line.one{
  width: 106%;
  left: -4rem;
}

.rd-line.two{
  width: 80%;
  right: 0;
  top:49.5%;
}

.rd-line .dot{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #9FA8DA;
  border-radius: 100px;
  position: absolute;
  top:-10px;
}
.rd-line .dot.left{
  left:0;
}
.rd-line .dot.right{
  right:0;
}

.social_media li {
  margin: 0 0.3rem;
}

.social_media {
  margin-top: -40px;
}

.social_media li a{
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 0%;
  text-align: center;
  line-height: 80px;
  font-size: 12px;
  color: #B2C4FF !important;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color: transparent;
  border: 0.65px solid rgba(178, 196, 255, 0.27);
  margin-left: -13px;
}

.connect {
  width: 150px;
    height: 80px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    line-height: 79px;
    font-size: 12px;
    color: #B2C4FF !important;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    background-color: transparent;
    border: 0.65px solid rgba(178, 196, 255, 0.27);
    margin-left: -13px;
}

.social_media .fab{
  position: relative;
  top: 2px;
}

/* .social_media .twt{
background-color: #1899F6;
}
.social_media .fb{
background-color: #0D448F;
}
.social_media .lkd{
background-color: #2867B2;
}
.social_media .ig{
background-color: #FF1887;
} */

.powered{
  margin-top: 2rem;
}
.powered .box{
  padding: 0.5rem 0.3rem;
  width: 20%;
  border: 1px solid #d3bfe9;
  border-radius: 5px;
  margin: 0 auto;
}
.partners .pt--box{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.partners .pt--box img{

  width: 130px;

}
.partners .pt--box .mod img{

  width: 70px;
  position: relative;
  top: -3px;

}
.partners .pt--box .icon img{

  width: 40px;

}
.partners .pt--box .ptnr{
  margin-right: 2rem;
}

.ex-btn{
  padding: 0.6rem 1.5rem;
}
.listing-btn a{
  margin-right: 0.65rem;
}
.ssn-link{
  display: block;
  width: 100%;
}
.ssn-box {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: rgb(245, 245, 245);
  border: 1px solid #e2dddd;
  border-radius: 6px;

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.ssn-link:hover .ssn-box{
  border-color: #480295;
}

.tm-bx{
  border:1px solid #9ee3fa1c;
  border-radius: 8px;
  padding: 1.2rem 1rem;
}
.tm-bx img {
  width: 130px;
}
ul.bullet{
  list-style: unset !important;
  list-style-type: disc !important;
}

.s--box {
  width: 100%;
  height: 20em;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  border:1px solid rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  position: relative;
}
.c--box {
  width: 100%;
  height: 15em;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  border:1px solid rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  position: relative;
}

.t--box {
  width: 5em;
  height: 5em;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  border:1px solid ;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 150;
}


.p--box {
  width: 100%;
  height: 10em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  border:1px solid rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  position: relative;
}

.a--box {
  width: 100%;
  height: 18em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.ab--box {
  width: 100%;
  height: 15em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.brands-card {
  position: relative;
  left: 160px;
}

.founder {
  margin-top: -17px;
  color: #71758A;
}

.founder-text {
  line-height: 22.05px;
}
.finance-text {
  line-height: 163.5%;
  color: #000;
}

.privacy {
  position: relative;
  top: 18px;
}

.home-update {
  background-color: #DBFBED;
  border-radius: 4px;
  padding: 12px 30px 0px 30px;
  color: #0CAE67;
}

.home-launch {
  background-color: #EFFFF8;
  border-radius: 4px;
  display: flex;
  padding: 12px 30px 0px 20px;
  color: #0CAE67;
}

.home-play {
  padding-left: 30px;
}

.contact-img {
  margin-bottom: 6.5em;
  margin-top: 0em;
  width: 15% ;
}
.contact-text {
  margin-top: -6em;
  margin-bottom: 0em;
}

.learn-more {
  background-color: #0E205E;
}
.learn-text {
}
.learn-icon {
  margin-left: -13px;
  color: #B2C4FF;
}

.tech-line{
  margin-bottom: 3em;
}
.tech-img {
  max-width: 80% !important;
}

 .col-md-9{
  padding: 0 !important;
}

.ubox{
  background-color: #EFFFF8;
  border-radius: 4px;
}
.ubox .ubox-item{
  padding: 0.4rem 1.2rem;
  color: #0CAE67;
}
.ubox .ubox-item.head{
  background-color: #DBFBED;
  border-radius: 4px;
}

.more-bx .m-ct{
  padding: 1.8rem 2.5rem;
  border-radius: 5px;
}

.more-bx .m-ct img{
  width: 60px;
}
.menu--bx{
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgba(96, 108, 115, 0.003);
  border-radius: 4px;
  border: 1px solid #9FA8DA;
  min-width: 380px;
  max-width: 450px;
  padding: 0.65rem 0.75rem;
}
.menu--bx .menu-item{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.menu--bx .menu-item:first-child{
  margin-top: 0.7rem !important;
}
.menu--bx .menu-item:last-child{
  margin-bottom: 0.7rem !important;
}
.menu--bx .menu-item .block{
  width: 50%;
  text-align: center;
}
.menu--bx .menu-item .block:first-child{
  border-right: 1px solid #BDC3E7;
}
.menu--bx .menu-item img{
  width: 30px;
}
.menu--bx .menu-item img.alt{
  width: 23px;
}
.menu--bx .menu-item img.up{
  width: 40px;
}

.menu--bx .menu-line{
  width: 90%;
  height: 1px;
  background-color: #DADEF6;
  margin: 0.8rem auto;
}

.menu--bx .menu-item .block span{
  color: #7E84A5;
}

.menu--bx .menu-item .block:hover span{
  color: #375BD2 !important;
}

.menu--bx a{
  border-bottom: none !important;
  padding: 0 !important;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  display: unset !important;
}

.menu--bx a:hover{
  background-color: transparent !important;
}

.h-bx {
  padding: 1rem 1.3rem;
  border: 1px solid #9FA8DA;
  border-radius: 5px;
  margin-bottom: 1.3rem;
  height: 13em;
}

.h-bx img{
  width: 38px;
}

.h-bx img.sugg{
  width: 55px;
}

.h-bx img.play{
  width: 15px;
}

.text-data h4{
  line-height: 30px !important;
}

svg.arrow{
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
  cursor: pointer;
  width: 23px;

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
svg.arrow.right {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
svg.arrow.left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
svg.arrow.up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
svg.arrow.down {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.conn-link{
  width: 100%;
  display: block;
}
.conn-bx{
  padding:0.8rem 1rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  box-shadow: 0 8px 40px 0 rgba(96, 108, 115, 0.1);
}

.super-about img{

  border-radius: 100%;
  width: 120px !important;
  height: 115px !important;

}

.team-box img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 auto;
}
