@font-face {
    font-family: 'interblack';
    src: url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interextrabold';
    src: url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interbold';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interthin';
    src: url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'intermedium';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'intersemibold';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interextralight';
    src: url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'interlight';
    src: url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.font-interblack, .font-interblack a, .font-interblack span{
    font-family: 'interblack' !important;
}
.font-interextrabold, .font-interextrabold a, .font-interextrabold span{
    font-family: 'interextrabold' !important;
}
.font-interbold, .font-interbold a, .font-interbold span{
    font-family: 'interbold' !important;
}
.font-interthin, .font-interthin a, .font-interthin span{
    font-family: 'interthin' !important;
}
.font-intermedium, .font-intermedium a, .font-intermedium span{
    font-family: 'intermedium' !important;
}
.font-inter, .font-inter a, .font-inter span{
    font-family: 'inter' !important;
}
.font-intersemibold, .font-intersemibold a, .font-intersemibold span{
    font-family: 'intersemibold' !important;
}
.font-interextralight, .font-interextralight a, .font-interextralight span{
    font-family: 'interextralight' !important;
}
.font-interlight, .font-interlight a, .font-interlight span{
    font-family: 'interlight' !important;
}
